@use 'theme/colors.scss';

.display {
  position: relative;
  margin: 10px 0px 15px 0px;
  padding-bottom: 12px;

  .price {
    position: relative;
  }

  .priceNumber {
    font-size: 68px;
    line-height: 68px;

    text-align: right;
    position: relative;
  }

  .underline {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 2px;
    background: colors.$primary;
  }
}
