@use 'theme/font.scss';

.change-name-template__form {
  display: flex;
  flex-direction: column;
}

.change-name-template__back-icon {
  margin: 30px 0 100px 0;
  text-align: left;
}

.change-name-template__form__cost {
  align-self: flex-end;
  color: font.$colorSecondary;
}

.change-name-template__form__btn {
  align-self: flex-end;
  width: 90px;
  margin: 20px 0 120px 0;
}
