@use 'theme/colors.scss';
@use 'theme/font.scss';

.buttonIcon {
  background-color: transparent;
  border: transparent solid 1px;
  padding: 3px;
  font-size: font.$m;
  border-radius: 4px;
  cursor: pointer;
  color: font.$colorHidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: colors.$primary;
    border: colors.$border solid 1px;
  }

  // Ripple Effect
  position: relative;
  overflow: hidden;
  mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
